@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app. This is the first evere edit I did to a blazor appplication. 

<SurveyPrompt Title="How is Blazor working for you?" />

Adding a  counter element. This is the main page where i will display you todos if you have any, otherwise you will recieve
A biref explanation and be directed to the info side. 

<Counter IncrementAmount = "10" />
